<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVg5YlDQs_rvz8fqqkRoz5kNliVZa2smk</string>
	<key>GCM_SENDER_ID</key>
	<string>725624729058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paraPo</string>
	<key>PROJECT_ID</key>
	<string>para-po-27a3b</string>
	<key>STORAGE_BUCKET</key>
	<string>para-po-27a3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725624729058:ios:3aeb1946db7435321a1dbb</string>
</dict>
</plist>